body {
    background-color: rgb(199, 199, 199);
    margin: 0;
}
.box-one {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.boxes {
    margin: 10px;
}
.photo {
    width: 50%;
    margin: auto;
    background: white;
}
.header {
    display: flex;
}
.header p {
    margin-left: auto;
    padding: 10px;
}
.header h2 {
    padding-left: 10px;
}
img {
    width: 100%;
    height: 100%;
}
.footer p {
    padding: 12px;
}
* {
    font-family: "Roboto", sans-serif;
}